@font-face {
  font-family: 'Gabarito';
  src: url(../../Static/Fonts/Gabarito-VariableFont_wght.ttf);
}

.warning{
  font-family: 'Gabarito';
  color: red;
  font-size: 36px;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 20px;
}

.empity {
  height: 1000px;
}

.empity p{
  font-family: 'Gabarito';
  font-size: 24px;
  color: red;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  width: 100%;
}

.loadMoreButton {
  border: none;
    background-color: #158002;
    height: 56px;
    width: 218px;
    margin: 32px 0px;
    border-radius: 48px;
    font-family: 'Gabarito';
    font-size: 18px;
    color: white;
    padding-right: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 820px) {
    .catalog {
      justify-content: center;
      margin: 0 0 20px 0;
    }
  }