@font-face {
    font-family: 'Gabarito-Semi-Bold';
    src: url(../../Static/Fonts/Gabarito-SemiBold.ttf);
}

@font-face {
    font-family: 'Gabarito-bold';
    src: url(../../Static/Fonts/Gabarito-Bold-BF651cdf1f430c1.ttf);
}

@font-face {
    font-family: 'Gabarito';
    src: url(../../Static/Fonts/Gabarito-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Fraunces';
    src: url(../../Static/Fonts/Fraunces-Italic-VariableFont.ttf);
}
.detalesCard{
    display: flex;
    align-items: center;
    width: 42vw;
    justify-content: space-between;
}

.arrowButton{
    height: 36px;
    border-radius: 24px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, .30);
    border: solid 2px green;
    background-color: #EFF9EC;
}

.detalesContainer {
    display: flex;
    flex-direction: column;
    width: 90%; 

}

.detalesContainer {
    height: auto;
    margin-bottom: 16px;
    background-color: rgba(0,0,0, .1);
    border-radius: 24px;
}

.instructions {
    margin: 32px 0 32px 32px ;
}

.instructionsLabel {
    font-family: 'Gabarito';
    font-size: 16px;
    color: rgba(0,0,0, .5);
}

.instructionsTitle {
    font-family: 'Gabarito-Semi-Bold';
    font-size: 16px;
    color: rgba(0,0,0, .7);
}

.prepareMode {
    font-family: 'Gabarito-Semi-Bold';
    font-size: 14px;
    color: rgba(0,0,0, .7);
}

.ingredientsLable {
    font-family: 'Gabarito-Semi-Bold';
    font-size: 14px;
    color: rgba(0,0,0, .7);
    margin-bottom: 8px;
}

.ulCard {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    font-family: 'Gabarito';
    font-size: 14px;
    color: rgba(0,0,0, .7);
    margin-bottom: 24px;
}

.ingredients li {
    font-size: 14px;
}

.use {
    font-family: 'Gabarito';
    font-size: 14px;
    color: rgba(0,0,0, .7);
    margin-top: 16px;
    margin-left: 0;
}

.labelModel {
    font-family: 'Gabarito-Semi-Bold';
    font-size: 16px;
    color: rgba(0,0,0, .7);
}

.contraindications {
    font-family: 'Gabarito';
    font-size: 14px;
    color: rgba(0,0,0, .7);
}

@media only screen and (max-width: 1280px) {
    .detalesCard {
        width: 100%;
        height: auto;
    }
}