@font-face {
    font-family: 'Gabarito-Semi-Bold';
    src: url(../../Static/Fonts/Gabarito-SemiBold.ttf);
}

@font-face {
    font-family: 'Gabarito-bold';
    src: url(../../Static/Fonts/Gabarito-Bold-BF651cdf1f430c1.ttf);
}

@font-face {
    font-family: 'Gabarito';
    src: url(../../Static/Fonts/Gabarito-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Fraunces';
    src: url(../../Static/Fonts/Fraunces-Italic-VariableFont.ttf);
}

.plantSpecifContainer {
    display: flex;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 24px;
    justify-content: space-between;
}

.backButton {
    border: none;
    background-color: #D5DED3;
    height: 56px;
    width: 14vw;
    margin: 32px 0px;
    border-radius: 48px;
    font-family: 'Gabarito';
    font-size: 14px;
    padding-right: 16px;
    margin-left: 42px;
    cursor: pointer;
}

.backButton span {
    margin-left: 8px;
}

.columnOne {
    display: flex;
    flex-direction: column;
}

.plantName {
    font-family: 'Gabarito-bold';
    font-size: 32px;
    margin: 0;
    color: rgba(0,0,0, .7);
}

.scientificName {
    font-family: 'Fraunces';
    font-size: 32px;
    color: rgba(0,0,0, .5);
    margin-top: 16px;
}

.columnOne img {
    border-radius: 24px;
}

.indicationsLabel {
    font-family: 'Gabarito';
    color: rgba(0,0,0, .5);
    font-size: 16px;
    margin-bottom: 0;
}

.indicationsContainer {
    display: flex;
    max-width: 486px;
    flex-wrap: wrap;
}

.indications {
    font-family: 'Gabarito-Semi-Bold';
    color: #0E4904;
    background-color: rgba(21, 128, 2, .15);
    margin-right: 8px;
    padding: 4px 8px;
    border-radius: 20px;
}

.prepareContainer {
    background-color: rgba(0,0,0, .1);
    width: 42vw;
    height: 388px;
    border-radius: 24px;
    margin: 0;
}

.instructions {
    margin-left: 32px;
}

.instructionsLabel {
}